body {
    margin: 0;
    background: radial-gradient(#9d5900,#3D2200);
}

html {
    min-height: 100vh;
}

/* Style for drop down items in navigation bar */
.nav_links li, .nav_links a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    margin: 20px 10px;
    color: white;
    margin: 0;
}

/* Style for navagation bar */
.nav_border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
    height: 60px;
    background-color: #9d5900;
    background: rgba(0,0,0,0.15);
}

/* Style for items in navigation bar*/
.nav_links {
    list-style: none;
    padding: 0;
    margin-right: 70px;
}

    .nav_links li {
        display: inline-block;
        padding: 5px 20px;
    }


    .nav_links li:hover {
        color: #3498db;
        box-shadow: 0 0 10px #3498db, 0 0 20px #3498db;
        transition-delay: .1s;
    }

/* Text style */
h1 {
    padding-top: 60px;
}

/* Text style */
.indexh1 {
    margin: 20px auto;
    color: white;
    text-align: center;
}

/* Text style */
.indexh2 {
    margin: 20px 20px;
    color: white;
    margin: 0;
    padding: 10px 5px;
}

.profile_section {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    color: white;
}


.box {
    min-width: 400px;
    width: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

    /* Style for textbox and password input */
    .box input[type="text"], .box input[type="password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        color: white;
        outline: none;
        border: 2px solid #3498db;
        padding: 10px;
        width: 200px;
        border-radius: 25px;
        font-weight: 500;
        font-size: 20px;
        transition: .25s;
    }

    /* Style for submit input */
    .box input[type="submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px Auto;
        text-align: center;
        color: white;
        outline: none;
        border: 2px solid #3498db;
        padding: 10px;
        width: 150px;
        border-radius: 25px;
        font-size: 15px;
        cursor: pointer;
        transition: .25s;
        background-color: #3498db;
    }

    /* Style for Login button*/
    .LoginButton{
        float: left;
    }

.GuestLogin {
    float: left;
}

.Btn_Login {
    align-content: space-between;
    margin-left: 18px;
}

/* Style for radio button */
.box input[type="radio"], .box label, .radiobutton {
    margin: 10px auto;
    font-size: 20px;
}

.box label {
    color: white;
}

/* Style for submit button */
.box button[type="submit"] {
    width: 100px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #2ecc71;
    background-color: white;
    color: black;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

/* Style for hover on submit button */
.box button[type="submit"]:hover {
    width: 260px;
    color: white;
    border-color: #2ecc71;
    background-color: #2ecc71;
}

/* Style for footer */
.footer {
    bottom: 50px;
    font-size: 15px;
    color: white;
    padding-left: 15px;
    position: relative;
    margin-top: 20px;

}

/* Стиль текста на странице игры */
.gameh1 {
    margin: 10px auto;
    color: white;
    text-align: center;
}

/* Стиль игрового контейнера */
.game-info-container {
    display: flex;
    justify-content: space-between;
}

.game-info {
    margin: 10px auto;
    color: white;
    font-size: 30px;
}

/* Стиль сетки строк */
.grid-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    perspective: 600px;
}

/* Стиль сетки столбцов */
.grid-column {
    height: 140px;
    width: 155px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid #000000;
    /* perspective: 600px; */
    transition: transform 0.35s;
    transform-style: preserve-3d;
    position: relative;
}
    /* Стиль переворачивания карты */
    .grid-column.is-flipped {
        transform: rotateY(-180deg);
    }

/* Стиль карты */
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Стиль обратной стороны карты */
.card_back {
    transform: rotateY(180deg);
}

/* Стиль для наведения мыши на карточки */
.grid-column:hover {
    margin-top: 5px;
    height: 130px;
    width: 150px;
}

.overlay-small {
    font-size: .3em;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.dummygridblocker {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    z-index: 1;
}

.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 800ms forwards;
}


@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        font-size: 50px;
        background-color: rgba(0, 0, 0, 0.85);
    }
}

@media all and (min-width: 450px) {
    .grid-column {
        height: 180px;
    }

        .grid-column:hover {
            margin-top: 5px;
            height: 170px;
        }

    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }

        to {
            font-size: 70px;
            background-color: rgba(0, 0, 0, 0.85);
        }
    }
}

@media all and (min-width: 575px) {
    .grid-column {
        height: 225px;
    }

        .grid-column:hover {
            margin-top: 5px;
            height: 215px;
        }

    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }

        to {
            font-size: 95px;
            background-color: rgba(0, 0, 0, 0.85);
        }
    }
}

